.mitheadermountain {
    position: relative;
    height: 285px;
    width: 100%;
    background-color: white;
    background-image: url("images/header.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

.mitheadertext {
    position: relative;
    font-size: 5rem;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
    -webkit-font-smoothing: antialiased;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.fw {
    width: 100%
}

.mitsubheadertext {
    position: relative;
    font-size: 3rem;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
    -webkit-font-smoothing: antialiased;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.floatr {
    float: right;
}

.clickherearrow {
    float: right;
    padding-right: 20px;
    padding-bottom: 5px;
}

.rmfloat {
    clear: right;
}

.mitglow {
    box-shadow: 5px 5px 5px #fff;
}

img {
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -moz-animation: fadein 3s; /* Firefox */
    -ms-animation: fadein 3s; /* Internet Explorer */
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
