---
---

@import "base";

@font-face {
    font-family: 'Decker';
    src:url('/assets/font/Decker.ttf.woff') format('woff'),
        url('/assets/font/Decker.ttf.svg#Decker') format('svg'),
        url('/assets/font/Decker.ttf.eot'),
        url('/assets/font/Decker.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.container-blur {
    backdrop-filter: blur(10px);
    background-color: rgba(#f8f9fa, 0.7);
}

.gradient-background {
    position: fixed;
    top: 1rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, var(--bs-dark) 0%, var(--bs-dark) 10%, #9932cc);
}

body {
    font-family: 'Decker', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.zoom-container {
    overflow: hidden;
}

.project-image {
    max-height: 20rem;
    width: auto;
    object-fit: cover;
}

.zoom-on-hover {
    transition: transform .2s
}

.zoom-on-hover:hover {
    transform: scale(1.1);
}

.tag-icon {
    font-size: 0.8rem;
    padding-right: 0.25rem;
}

.vertical-bar {
    border-left: 1px solid var(--bs-secondary);
    padding-left: 0.5rem;
}

#btn-back-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: none;
}