---
layout: default
---

<div>
    <div class="container-blur container-fluid text-center border rounded p-4">
        <h1>Welcome to my website.</h1>
        <hr />
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <img class="img-fluid rounded" src="{{ "/assets/images/profile.jpg" | relative_url }}" alt="Ben Dodd" style="max-height: 10rem">
                    </div>
                    <div class="col">
                        {{ content }}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                {% for anchor in site.anchors %}
                <a href="#{{ anchor.tag }}"><span class="badge bg-primary fs-6">{{ anchor.title }}</span></a>
                {% if forloop.last == false %} <span> | </span>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="experience" class="container-blur container-fluid text-center border rounded p-4 mt-4">
        <h2>Experience</h2>
        <hr />
        {% assign experience = site.data.experience %}
        {% for exp in experience %}
            {% include experience_card.html exp=exp %}
        {% endfor %}
    </div>
    <div id="education" class="container-blur container-fluid text-center border rounded p-4 mt-4">
        <h2>Education</h2>
        <hr />
        {% assign education = site.data.education %}
        {% for edu in education %}
            {% include education_card.html edu=edu %}
        {% endfor %}
    </div>
    <div id="projects" class="container-blur container-fluid text-center border rounded p-4 mt-4">
        <h2>Projects</h2>
        <hr />
        <div class="row">
            {% assign sorted_projects = site.projects | sort: 'date' | reverse %}
            {% for project in sorted_projects -%}
                <div class="col-lg-4 pb-4">
                    {% include project_card.html project=project -%}
                </div>
            {% endfor -%}
        </div>
    </div>
    <div id="contact" class="container-blur container-fluid text-center border rounded p-4 mt-4">
        <h2>Contact</h2>
        <hr />
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="text-body-secondary">You can get in touch with me through any of the links below:</p>
                        <ul class="list-group list-group-flush">
                        {% for link in site.nav %}
                        <li class="list-group-item">
                            <a class="text-primary" target="_blank" href="{{ link.url }}"><i class="bi bi-{{ link.icon }}"></i> {{ link.title }}</a>
                        </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>