---
layout: default
---

<div>
    <div class="container-blur container-fluid text-center border rounded p-4">
        <h1>Ben Dodd</h1>
        <hr />
        <div class="card h-100">
            <div class="card-body">
                <div class="row">
                    <div class="col-5 my-auto">
                        <img class="img-fluid rounded" src="{{ "/assets/images/profile.jpg" | relative_url }}"
                            alt="Ben Dodd" style="max-height: 10rem">
                    </div>
                    <div class="col">
                        {{ content }}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                {% for link in site.data.nav.socials %}
                <a class="btn btn-outline-primary" href="{{ link.url }}">
                    <i class="bi bi-{{ link.icon }} fs-4"></i><p class="d-sm-none"> {{ link.title }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="projects" class="container-blur container-fluid text-center border rounded p-4 mt-4">
        <h2>Latest Projects</h2>
        <hr />
        <div class="row">
            {% assign sorted_projects = site.projects | sort: 'date' | reverse %}
            {% for project in sorted_projects limit:6 %}
            <div class="col-lg-4 pb-4">
                {% include project_card.html project=project %}
            </div>
            {% endfor -%}
        </div>
        <a class="btn btn-primary" href="{{ " /projects" | relative_url }}" role="button">See all of my projects</a>
    </div>
    <div class="container-blur container-fluid text-center border rounded p-4 mt-4">
        <div class="row">
            <div id="experience" class="col">
                <h2>Experience</h2>
                <hr />
                {% assign experience = site.data.experience %}
                {% for exp in experience %}
                {% include experience_card.html exp=exp %}
                {% endfor %}
            </div>
            <div id="education" class="col">
                <h2>Education</h2>
                <hr />
                {% assign education = site.data.education %}
                {% for edu in education %}
                {% include education_card.html edu=edu %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>