---
layout: default
---
<div class="card h-100">
    {% if page.youtube %}
        {% include youtube_player.html id=page.youtube %}
    {% elsif page.image and page.image != '/assets/images/card-placeholder.png' %}
        {% if page.project_image_top %}
        <img class="card-img-top border-bottom project-image-top" src="{{ page.image }}" alt="{{ page.title }}">
        {% else %}
        <img class="card-img-top border-bottom project-image" src="{{ page.image }}" alt="{{ page.title }}">
        {% endif %}
    {% endif %}
    <div class="card-header text-center">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="card-body pb-0">
        <div class="d-flex justify-content-between">
            <!-- home button -->
            <a href="/" class="text-secondary fs-3"><i class="bi bi-arrow-left"></i></a>
            <!-- share button -->
            <a href="#" id="shareButton" class="text-secondary fs-3" data-title="{{ page.title }}" data-description="{{ page.description }}"><i class="bi bi-share"></i></a>
        </div>
        <span class="card-text text-muted">{{ page.date | date: "%B %-d, %Y" }}</span>
        <p class="card-text fs-5">{{ page.description }}</p>
    </div>
    {% assign links_size = page.links | size %}
    {% if links_size > 0 %}
    <div class="card-body pb-0 pt-0">
        {% for link in page.links %}
        <a href="{{ link.url }}" class="btn btn-outline-primary" target="_blank">
            {% if link.icon %}
            <i class="bi {{ link.icon }}"></i>
            {% endif %}
            {{ link.title }}
        </a>
        {% endfor %}
    </div>
    {% endif %}
    <hr />
    <div class="card-body pt-1">
        {{ content }}
    </div>
    {% assign tags_size = page.tags | size %}
    {% if tags_size > 0 %}
    <div class="card-footer">
        {% for tag in page.tags %}
        {% assign tag_page = site.tags | where: "tag", tag | first %}
        {% assign tag_color = tag_page.color | default: "bg-secondary" %}
        {% if tag_page.icon %}
        <a href="/tags/{{ tag }}.html" class="badge rounded-pill {{ tag_color }}"><i
                class="bi {{ tag_page.icon }} tag-icon"></i>{{ tag_page.title }}</a>
        {% else %}
        <a href="/tags/{{ tag }}.html" class="badge rounded-pill {{ tag_color }}">{{ tag_page.title }}</a>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
<script src="{{ '/assets/js/modal.js' | relative_url }}"></script>
<script src="{{ '/assets/js/share.js' | relative_url }}"></script>